.jumbotron {
    border: 1px solid red;
}

.instr {
    text-align: center;
}

.btn {
    height: 70px;
    width: 70px;
    margin-left: 10px;
    background-image: url("../images/crystal-2.png");
    background-size: 100%;
}

.btn-1 {
    background-color: red;
}

.btn-2 {
    background-color: #f05800;
}

.btn-3 {
    background-color: #2a9fd6;
}

.btn-4 {
    background-color: #6e2caf;
}

.target-number, .total-number {
    font-size: 100px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

span, .message {
    font-size: 30px
}